# Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env
secrets.js

# IDE specific files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db