.App {
  text-align: center;
  background-color: #f0f8ff; /* Light blue background for a friendly vibe */
  color: #333; /* Darker text for better readability */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #faf6c4; /* Soft yellow for a vibrant header */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333; /* Darker text for contrast */
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #4caf50; /* Bright green for a friendly button */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

button:disabled {
  background-color: #ccc; /* Gray for disabled state */
  cursor: not-allowed;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4a261; /* Vibrant orange for table headers */
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Light gray for alternating rows */
}

tr:hover {
  background-color: #f1f1f1; /* Slight highlight on hover */
}

.data-table {
  margin-bottom: 50px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-buttons {
  display: flex;
  gap: 5px;
}

.sort-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 26px; /* Increased font size for larger arrows */
  color: #4caf50; /* Green color for the arrows */
}

.sort-buttons button:hover {
  color: #153f17; /* Slightly darker green on hover */
}

h1 {
  font-family: 'American Typewriter', serif; /* Updated to American Typewriter */
  font-size: 3rem; /* Larger font size */
  color: #ff69b4; /* Bright pink color */
  text-shadow: 1px 1px #ffa07a; /* Cute shadow effect */
  margin-bottom: 20px;
}
